.about {
  background-color: rgb(129, 163, 124);
}

.about h3 {
  color: blueviolet;
}

.about .contact {
  background-color: aqua;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.about .btn {
  background-color: blueviolet;
}
