.product {
  background-color: aqua;
  border: 1px solid green;
  margin-bottom: 12px;
  vertical-align: top;
  display: inline-block;
  width: 320px;
  height: 380px;
  border-radius: 4px;
  margin: 0 7px 12px;
}

.product h6 {
  font-size: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
}

.product img {
  width: 280px;
  height: 270px;
}
